@font-face {
    font-family: 'Codec cold';
    src: url('./font/CODEC-COLD-BOLD-ITALIC-TRIAL.TTF') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Codec cold';
    src: url('./font/CODEC-COLD-EXTRABOLD-ITALIC-TRIAL.TTF') format('truetype');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'Codec cold';
    src: url('./font/CODEC-COLD-EXTRALIGHT-ITALIC-TRIAL.TTF') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Codec cold heavy';
    src: url('./font/CODEC-COLD-HEAVY-ITALIC-TRIAL.TTF') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Codec cold';
    src: url('./font/CODEC-COLD-LIGHT-ITALIC-TRIAL.TTF') format('truetype');
    font-weight: light;
    font-style: italic;
}

* {
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    position: absolute;
    overflow-x: hidden;
}

.mobile-wrapper {
    width: 100vw;
    overflow-x: hidden;
}

/* nav */

nav {
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%);
}

nav .wrapper {
    width: 80vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;

    margin: 0 auto;

    font-family: 'Nunito Sans', sans-serif;

    font-size: 1.5rem;
    font-weight: 900;

}

nav .wrapper #logo {
    font-family: 'Codec cold heavy';
    /* font-weight: bolder; */
    font-size: 2.25rem;
}


nav .wrapper a {
    text-decoration: none;
    color: #fff;
}

nav .mobile-nav {
    display: none;
}

/* Icon 3 */

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 30px;
    height: 23px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 9px;
}

#nav-icon3 span:nth-child(4) {
    top: 18px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.side-skirt {
    display: flex;


    position: absolute;
    top: 0;
    left: 100vw;

    width: 100vw;
    height: 100vh;

    background-color: #000000c2;
    animation: side-skirt-reverve;
    animation-duration: 1s;
}

.side-skirt a {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    color: #fff;

}

.side-skirt.open {
    display: flex;
    left: 0;

    animation-name: side-skirt;
    animation-duration: 1s;
}

@keyframes side-skirt {
    0% {
        left: 100vw;
    }

    100% {
        left: 0;
    }
}

@keyframes side-skirt-reverve {
    0% {
        left: 0;
    }

    100% {
        left: 100vw;
    }
}

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('./img/greg-banek-ocqzUDcHinc-unsplash.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: #fff;
}

.hero .slogan {
    width: 80vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

    margin: 0 auto;

    animation-name: slogan;
    animation-duration: 2s;
}

@keyframes slogan {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

h1,
h2 {
    display: inline;
}

h1 {
    font-family: 'Codec cold heavy';
    font-size: 6rem;
}

h2 {
    font-family: 'nunito sans', sans-serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: 400;
}

.dots {
    font-family: 'Codec cold heavy';
    font-size: 6rem;
}

.article {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
}

.post {
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: 5vw;
}

.post h3 {
    /* font-family: 'Codec cold heavy'; */
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    color: #2D2D4080;
    font-size: 3rem;
}

.post h2 {
    color: #2D2D40;
    font-family: Nunito Sans;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.post p {
    color: #000;
    font-family: Nunito Sans;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0px;
}

.post a {
    padding: 10px 75px;
    border: #2d2d40 2px solid;
    align-self: center;
    margin-top: 50px;

    text-decoration: none;
    color: #2d2d40;

    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 1.24rem;
}


.article img {
    width: 50vw;
    height: 100vh;

    object-fit: cover;
}

.contact {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img {
    width: 50vw;
    height: 100vh;

    object-fit: cover;
}

.form {
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: 5vw;
}

.form h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    color: #2d2d40;
    font-size: 4rem;
}

.form form {
    width: 100%;
}

.form .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form input {
    width: calc(50% - 10px);
    height: 50px;

    border: none;
    border-bottom: 2px solid #2d2d40;

    margin-top: 20px;

    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    color: #2d2d40;
    font-size: 1.5rem;
}

.form input:invalid:not(:focus):not(:placeholder-shown) {
    border-bottom: 2px solid red;
}

.form input:invalid:not(:placeholder-shown) {
    border-bottom: 2px solid red;
}

/* .form input:valid {
    border-bottom: 2px solid green;
} */

.form input[type="submit"] {
    padding: 10px 75px;
    border: #2d2d40 2px solid;
    align-self: center;
    margin-top: 50px;

    text-decoration: none;
    color: #2d2d40;

    background-color: #fff;

    font-size: 1.25rem;
}

.form .testimonial {
    width: 100%;

    margin-top: 40px;
    padding: 20px;

    border: 2px solid #2d2d40;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
}

footer {
    width: 100vw;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container {
    width: 90vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

footer .container .line {
    width: 100%;
    height: 1px;

    background-color: #000;
}

footer .container .links {
    width: 80vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

footer .container .links .social {
    width: 50%;

    display: flex;
    justify-content: start;
    align-items: center;
}

footer .container .links .social h3 {
    font-family: 'Codec cold heavy';
    font-style: italic;
    color: #2d2d40;
    font-size: 1.5rem;
    padding: 0px 20px 0px 0px;
}

footer .container .links .social a {
    text-decoration: none;
    color: #2d2d40;
    padding: 0px 20px;
}

footer .container .links .disclamer {
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .links .disclamer a {
    text-decoration: none;

    color: #2D2D40;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

@media only screen and (max-width: 480px) {

    nav .mobile-nav {
        display: flex;
        padding: 5px;
    }

    nav .wrapper #logo {
        display: block;
        font-size: 1.25rem;
    }

    nav .wrapper a {
        display: none;
    }

    .side-skirt {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav .wrapper .side-skirt a {
        display: block;
        color: #fff;
    }

    h1,
    .dots {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .article {
        flex-direction: column-reverse;

        width: 100vw;
        height: 100vh;
    }

    .article img {
        width: 100vw;
        height: 25vh;
    }

    .post {
        width: 90vw;
        height: 75vh;

        margin: 0 auto;
    }

    .post h3 {
        font-size: 2rem;
    }

    .post h2 {
        font-size: 3rem;
    }

    .post p {
        font-size: 1rem;
    }

    .post a {
        padding: 10px 50px;
        font-size: 1rem;
    }

    .contact {
        flex-direction: column;

        width: 100vw;
        height: 100vh;
    }

    .contact img {
        width: 100vw;
        height: 25vh;
    }

    .form {
        width: 90vw;
        height: 75vh;

        margin: 0 auto;
    }

    .form .flex {
        flex-direction: column;
    }

    .form h2 {
        font-size: 3rem;
    }

    .form input {
        width: 100%;
    }

    .form input[type="submit"] {
        padding: 10px 50px;
        font-size: 1rem;
    }

    .form .testimonial {
        width: 80vw;
        font-size: 1rem;
    }

    footer {
        width: 100vw;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .container {
        width: 90vw;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
    }

    footer .container .line {
        width: 100%;
        height: 1px;

        background-color: #000;
    }

    footer .container .links {
        width: 80vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 20px;
    }

    footer .container .links .social {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .container .links .social h3 {
        font-size: 1rem;
        padding: 0px 20px 0px 0px;
    }

    footer .container .links .social a {
        padding: 0px 20px;
    }

    footer .container .links .disclamer {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .container .links .disclamer a {
        font-size: 1rem;
    }



}